@font-face {
    font-family: Archeologicaps;
    src: url('fonts/Archeologicaps.ttf');
}

@font-face {
  font-family: OptimusPrinceps;
  src: url('fonts/OptimusPrinceps.ttf');
}

@font-face {
  font-family: JustOldFashion;
  src: url('fonts/JustOldFashion.ttf');
}

* {
  box-sizing: border-box;
  font-family: Verdanna;
}

textarea.section {
  resize: none;
}

@media print {
  #counters {
    display: none;
  }

  #page {
    width: 210mm;
    height: 148mm;
  }
}

html {
  font-size: 1rem;
}

input {
  outline: none;
  font-family: Georgia;
  font-size: 0.75rem;
}

#page {
  margin: 0 auto;
  flex: auto;
  padding: 1rem;
}

.flex {
  display: flex;
  width: 100%;
}

.layout {
    display: block;
}

#details {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  min-width: 15rem;
}

#logo {
  margin-left: 1rem;
  margin-bottom: 1rem;
  flex: none;
}

#logo svg {
    width: 3rem;
    display: inline-block;
    vertical-align: text-bottom;
}

#logo h1 {
    font-family: Archeologicaps;
    display: inline-block;
    font-size: 1.75rem;
    position: relative;
    left: -0.5rem;
    bottom: 0.1rem;
}

.section {
    border: 2px solid black;
    position: relative;
    display: inline-block;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin: 0.5rem;
}

.section>h1:first-child {
  position: absolute;
  top: -0.5rem;
  background: white;
  left: 1rem;
  font-family: OptimusPrinceps;
  padding: 0 0.1rem;
}

#destiny {
  position: absolute;
  bottom: -0.6rem;
  background: white;
  left: 0;
}

.attribute {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.attribute h2 {
  display: block;
  vertical-align: middle;
  text-align: center;
  font-family: JustOldFashion;
}

.attribute attribute-point {
    width: 0.75rem;
    height: 0.75rem;
    margin: 0;
}

.skill {
  position: relative;
  display: inline-block;
  flex-basis: 100%;
  margin: 1%;
}

.skill h2 {
  text-align: right;
  vertical-align: middle;
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: JustOldFashion;
}

.skill .ability {
    font-size: 1rem;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border: 3px solid black;
    border-left-color: white;
    border-radius: 1rem;
    vertical-align: middle;
    font-weight: bold;
    text-align: center;
    line-height: 1.6rem;
    position: relative;
}

.skill .info {
    display: block;
    text-align: right;
    margin-right: 2rem;
    font-size: 0.65rem;
    font-style: italic;
    position: absolute;
    top: 1.9rem;
    right: 0;
}

.skill input[type=text] {
  display: inline-block;
  width: 50%;
  border: none;
  border-bottom: 2px solid black;
  border-radius: 0.25rem;
  margin-top: 0.5rem;
  align-self: baseline;
  box-sizing: border-box;
  height: 1.5rem;
}

.section .skill .value {
    width: 1.5rem;
    border: none;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    border-radius: 0.25rem;
    text-align: center;
    flex-grow: 0;
    margin-top: 0.5rem;
    box-sizing: border-box;
    height: 1.5rem;
    padding-top: 0.15rem;
}

#name_block, #schtick_block {
  height: 2rem;
  flex: none;
}

#perks_container, #penalties_container, #description_container {
  flex: auto;
}

#destiny_track {
  flex-basis: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}



#destiny_track h2 {
  text-align: center;
  position: absolute;
  background: white;
}

.footer {
  bottom: -0.6rem;
  font-family: OptimusPrinceps;
  padding: 0 0.1rem;
}

.header {
  top: -0.5rem;
  position: absolute;
  background: white;
  font-family: OptimusPrinceps;
  padding: 0 0.1rem;
}

#destiny_track .destiny-doom {
  border: 3px solid black;
  height: 2rem;
  width: 2.5rem;
  display: flex;
  border-radius: 30%;
  margin: 0 0.5rem;
  flex-direction: column;
  cursor: pointer;
}

#destiny_track .destiny-doom .doom, #destiny_track .destiny-doom .destiny {
  display: none;
}

#destiny_track .destiny-doom.doom .doom {
  display: block;
}

#destiny_track .destiny-doom.destiny .destiny {
  display: block;
}

#rules li {
    display: inline-block;
    font-size: 0.8rem;
}
#skill_block {
  display: flex;
  flex-direction: column;
  flex-basis: 70%;
  min-width: 15rem;
}

.row, skill-row {
  flex-direction: row;
  display: flex;
  align-items: center;
}

.skill>skill-row {
  margin-top: 0.45rem;
}

.skill .name {
  flex-basis: 100%;
  margin: 0 2%;
  padding: 0 0.5rem;
  font-size: 1.1rem;
}

#attribute_block {
  display: flex;
  flex: none;
}

#main {
  display: flex;
}

#counters {
  flex: auto;
}

#counters h1 {
  margin-top: 2rem;
  font-weight: bold;
  font-size: 1.2rem;
}

#counters h1:first-of-type {
  margin-top: 0.5rem;
}

#counters li.valid {
  color: green;
  font-weight: bold;
  font-style: italic;
}
.invalid {
  color: red;
}

#counters li.invalid {
  font-weight: bold;
}

.container {
  position: relative;
  padding: 0;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
}

.container>.section {
  padding: 0.5rem;
  flex: 1 1 auto;
  margin: 0;
  display: inline-block;
  width: 100%;
}

.container>.header {
  left: 1rem;
  top: -0.4rem;
}

attribute-point svg {
  height: 0.8rem;
  width: 0.8rem;
  vertical-align: text-bottom;
  cursor: pointer;
}

input[disabled] + svg {
  cursor: default;
}

attribute-point svg>.unchecked {
  display: inline;
}

attribute-point[checked] svg>.unchecked {
  display: none;
}

.hide {
  display: none;
}

#character-list {
  margin-top: 1.5rem;
}

#character-list li {
  padding: 0.5rem;
}

#character-list li:nth-child(even) {
  background-color: #EFEFEF;
}

#character-list li:nth-child(odd) {
  background-color: #C7C7C7;
}
